<h1>Welcome {{email.toName}}!</h1>

<p>
  you singed up as {{username}} the following email:
</p>

<p>
  <a href="http://localhost/verify/email">Click here to activate your account</a>
  (this link is valid until {{expiration_date|date('F jS')}})
</p>

<h1>Hi! Please confirm your email!</h1>




